.paginator {
    margin: 10px;
}

.pageNumber {
    margin: 3px;
    padding: 4px;
    border: 1px solid grey;
}

.selectedPage {
    margin: 3px;
    padding: 4px;
    border: 1px solid grey;
    font-weight: bold;
}