
.formControl.error input{
    border: 1px solid red;
}
.formControl.error textarea {
    /*border: 1px solid red;*/
}


/*.formControl.error span {*/
/*    !*margin: 0 0 5px 35px;*!*/
/*    color: red;*/
/*}*/

.formControlError {
    margin: 0 0 10px 0px;
    color: red;
}

.formSummeryError {
    border: 1px solid red;
    font-weight: 600;
    padding: 5px;
    color: red;
    width: 150px;
}
