.header {
    display: flex;
    grid-area: h;
    background-color: #0389c9;
}

.header img {
    /*width: 25px;*/
    /*height: 25px;*/

}

.socialName {
    height: auto;
    cursor: pointer;
    font-size: 28px;
    font-family: "Montserrat", sans-serif, "Roboto", sans-serif;
    font-weight: 600;
    line-height: 1.5;
    margin: 10px 0 20px 27px;
    color: white;
}


.loginBlock {
    margin-left: 95vw;
   color: white;
}

.loginBlock a {
    color: white;
}


.logoutBlock {
    display: flex;
    align-items: center;
    margin-left: 78vw;
    color: white;
    height: 55px;
}


.userName{
    font-family: "Roboto", "Segoe Ui";
    font-size: 16px;
    font-weight: 500;
    /*line-height: 65px;*/
}

.button {
    color: #ffffff;
    font-weight: 600;
    width: 60px;
    height: 20px;
    display: flex;
    align-items: center;
    /*-webkit-box-pack: center;*/
    /*justify-content: center;*/
    font-size: 13px;
    border-radius: 5px;
    background-color: #0389c9;
    cursor: pointer;
    border: none;
    margin-left: 75px;

}