.header {
    display: flex;
    justify-content: space-between;
    grid-area: h;
    background-color: #0389c9;
}

.header img {
    /*width: 25px;*/
    /*height: 25px;*/

}

.socialName {
    height: auto;
    cursor: pointer;
    font-size: 28px;
    font-family: "Montserrat", sans-serif, "Roboto", sans-serif;
    font-weight: 600;
    line-height: 1.5;
    margin: 10px 0 20px 27px;
    color: white;
}


.loginBlock {
    color: white;
    display: flex;
    align-items: center;
    font-size: 17px;
    border-radius: 5px;
    background-color: #0389c9;
    cursor: pointer;
    border: none;
    /*margin: 0px 25px 0 0px;*/
    height: 60px;
    width: 85px;
    font-weight: 500;
    letter-spacing: 0.2px;
    font-family: "Roboto", "Segoe Ui";
    text-decoration: none;
}

.loginBlock a {
    color: white;
}


.logoutBlock {
    display: flex;
    align-items: center;
    /*margin-left: 78vw;*/
    color: white;
    height: 60px;

}


.userName {
    display: flex;
    font-family: "Roboto", "Segoe Ui";
    font-size: 16px;
    font-weight: 500;
    /*line-height: 65px;*/
}

.button {
    color: #ffffff;
    width: 80px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    background-color: #0389c9;
    font-size: 17px;
    cursor: pointer;
    border: none;
    font-weight: 500;
    letter-spacing: 0.2px;
    font-family: "Roboto", "Segoe Ui";
    text-decoration: none;
    margin: 0 25px 0 75px;
}