.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
    background-color: white;
    border-radius: 5px;
    max-width: 800px;
}


.dialogsItems {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;

}

.dialogsItems .active {
    display: flex;
    color: gold;
    border-bottom: 1px solid rgba(54, 119, 81, 0.21);
}


.dialogsItems img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin: 8px 0 3px 0;
}

.dialogsName a {
    margin: 7px 0 0 5px;
    font-family: "Montserrat", sans-serif;
    color: #51595e;
    text-transform: capitalize;
    font-weight: 600;
    font-size: calc(13px + (14 - 13) * ((100vw - 320px) / (1920 - 320)));
    line-height: 1.2;
    cursor: pointer;
    text-decoration: none;

}

.dialogsName a.activeLink {
    margin: 7px 0 0 5px;
    font-family: "Montserrat", sans-serif;
    color: #2bc60c;
    text-transform: capitalize;
    font-weight: 600;
    font-size: calc(13px + (14 - 13) * ((100vw - 320px) / (1920 - 320)));
    line-height: 1.2;
    cursor: pointer;
    text-decoration: none;

}


.nameStatusBlock {
    display: flex;
    flex-direction: column;

}


.status {
    margin: 0 0 7px 7px;
    color: #647589;
    font-weight: 500;
    font-family: "Roboto", sans-serif;
    font-size: calc(11px + (12 - 11) * ((100vw - 320px) / (1920 - 320)));
    line-height: 1.2;
}


.messagesBlock {
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(54, 119, 81, 0.21);
    border-radius: 5px 5px 5px 5px;
    background-color: #f8f9fa;
    height: 300px;
    margin-bottom: 25px;
}

.messages {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
}

.message {
    margin: 10px 0 0 15px;
    background: #dae7f1;
    border-radius: 5px;
    font-size: 14px;
    line-height: 20px;
    padding: 8px 7px;
    color: #51595e;
    letter-spacing: 0.1px;
    list-style: outside none none;
    direction: ltr;
    max-width: 60%;
}

.noMessage {
    height: 300px;
    border: 1px solid rgba(54, 119, 81, 0.21);
    border-radius: 5px 5px 5px 5px;
    margin-bottom: 25px;
}

.noMessegaText{
margin: 10px 0 0 10px;
}

.sendMessageBlock {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}


.textareaBlock {
    height: 80px;
}


.btnAdd {
    position: absolute;
    top: 32px;
    left: 350px;
    background-color: #0389c9;
    border: medium none;
    border-radius: 5px;
    color: #fff;
    font-weight: 500;
    padding: 5px;
    width: 15%;
    transition: all 0.2s linear 0s;
    cursor: pointer;
    text-transform: none;
    overflow: visible;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    /*margin: 32px 0 0 10px;*/
}


.area {
    width: 40%;
    border-radius: 6px 6px 6px 6px;
    padding: 10px;
    resize: none;
    overflow: auto;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}